<div th:fragment="home">
  <p th:text="|Happy ${today}|">Today</p>
  <hr/>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Date Created</th>
        <th>Last Updated</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr th:each="item : ${toDoItems}" th:class="${item.complete} ? table-success : table-warning">
          <td th:text="${item.description}">item_description</td>
          <td th:text="${item.createdDate}">item_created_date</td>
          <td th:text="${item.modifiedDate}">item_modified_date</td>
          <td>
            <div class="btn btn-group-sm" role="group">
              <a class="btn btn-info" th:href="@{/edit/{id}(id=${item.id})}">Edit</a>
              <a class="btn btn-danger" th:href="@{/delete/{id}(id=${item.id})}">Delete</a>
            </div>
          </td>
        </tr>
      </tbody>
  </table>

  <p class="text-center"><a class="btn btn-success" href="/create-todo">Add a Todo!</a></p>
</div>