<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta content="ie=edge" http-equiv="x-ua-compatible" />
      <title th:text="${metaTitle} ? ${metaTitle} : 'Task List'"></title>

      <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css} " />
      <link rel="stylesheet" type="text/css" href="/css/main.css" /> 
  </head>

  <body>
    <div class="container">
      <!-- Navbar -->
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <span class="fs-4">Task Force</span>
        </a>
  
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Calendar</a></li>
        </ul>
      </header>

      <!-- Body -->
      <div th:replace="@{'views/' + ${content}} :: ${content}"></div>

    </div>

    <!-- Footer -->
    <div class="footer text-center">
      <span class="text-center">Edward JieHao Huang ©2024</span>
    </div>

    <!-- Scripts -->
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</div>
  </body>
</html>